table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #ddd;
  }
  
  #promo-code label {
    display: block;
  }
  
  #promo-code input {
    margin-bottom: 16px;
  }
  
  #checkout-button button {
    font-size: 24px;
    padding: 16px 32px;
  
  }
  #main1{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
   
  }
  #main1>div>img{
    height: 300px;
    width: 300px;
  }
  /* #main1>div{
    height: 300px;
    width: 300px;
  } */