*{
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  
}

.nav {
  /* height: 50px; */
  
  padding: 2%;
  padding-bottom: 1%;
  
  /* width: 97%; */
  color: #b90c0c;
  background-color: #504d4d;
  position: relative;
  /* text-align: ; */
}

.nav > .nav-header {
  display: inline;
  padding-left: 5%;
}

.nav-title > a {
  text-decoration: none;
  font-size: 35px;
  color: #f4f0f0;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 35px;
  color: #cd1212;
  /* padding: 10px 10px 10px 10px; */
}


.nav > .nav-btn {
  display: none;
  color: aqua;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
  margin-right: 9%;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  text-align: center;
  color: #efefef;
  
}

.nav > .nav-links > a:hover {
  background-color: rgba(240, 232, 232, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:800px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 500px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #b90c0c;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}








table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #ddd;
  }
  
  #promo-code label {
    display: block;
  }
  
  #promo-code input {
    margin-bottom: 16px;
  }
  
  #checkout-button button {
    font-size: 24px;
    padding: 16px 32px;
  
  }
  #main1{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
   
  }
  #main1>div>img{
    height: 300px;
    width: 300px;
  }
  /* #main1>div{
    height: 300px;
    width: 300px;
  } */


  .footer-section {
    display: flex;
    justify-content: left;
    border-top: 1px solid rgb(95, 91, 91);
    text-align: left;
    /* background-color: rgb(180, 180, 178); */
    margin-bottom: 0px;
    margin-top: 1%;
    padding-top: 0.2rem;
    margin-left: 0%;
    vertical-align: baseline;

    background-color: #e5e0e0;

   
  }

  #footer-div1{
    padding: 1%;
    /* border: 2px solid red; */
   
    width: 25%;
  }


  #footer-div2{
    padding: 1%;
    border-left: 1px solid rgb(95, 91, 91);
    /* border: 2px solid rgb(86, 193, 238); */
    width: 25%;
  }


  #footer-div3{
    padding: 1%;
    border-left: 1px solid rgb(95, 91, 91);
    /* border: 2px solid rgb(209, 234, 23); */
    width: 25%;
  }

  #footer-div4{
    padding: 1%;
    border-left: 1px solid rgb(95, 91, 91);
    /* border: 2px solid rgb(41, 2, 9); */
    width: 25%;
  }

  .footer-Sing_up{
    font-size: 1rem;
  }

  .footer-Sing_up2{
    font-size: .6rem;
  }