body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------Nav start--------------------------- */
#container_nav{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.logo_div{
  width: 30%;
  margin-left: 2%;
  /* border: 2px solid rgb(242, 9, 9); */
}
#nav{
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center;
}
.flexed{
  display: flex;
  /* justify-content: center; */
}

.Atitle{
  text-decoration: none;
}

#LOGO{
  border: none;
  /* backface-visibility: visible; */
  background-color: transparent;
  font-family: 'Styrene',Helvetica,Arial,sans-serif;
  width: 70%;
}

.Logo_a{
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
 
}

.fa-solid{
position: relative;
right: 70px;
top: 7px;
}

/* ------------Nav End--------------------------- */



#Login_image{
    width: 100%;
}
#Login_image img{
    width: 100%;
}
.page{
    font: 35px/40px 'Apercu Bold',Helvetica,Arial,Sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: normal;
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.938);
    text-align: center;
    transform: translateY(-40%);
    font-weight: 540;
}
#Register{
    width: 50%;
    margin: auto;
    background-color: #f7f7f7;
    position: relative;
    top: 30px;
    bottom: 30px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
#Register-container{
    margin: 15px;   
}
#Register-container>div{
    padding: 8px;
    width: 96%;
}
#textreg{
    padding: 10px;
    font-size: 18px;
    margin-left: 2px;
}

#plz{
    width: 100%;
    margin: auto;
}
#plz p{
    width: 98%;
    font-size: 12px;
    margin: auto;
}
form {
    width: 100%;
    margin-left: 20px;
    padding-right: 25px;
  }
  form p{
    font-size: 9px;
    margin-top: 12px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  form input {
    width: 91%; 
    padding: 7px;
    height: 22px;
    margin-top: 15px;
    border: none;
    border: 1px solid gray;
    outline: none;
  }
  input[type="submit"] {
    width: 93%;
    height: 35px;
    margin-top: 13px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 18px;
  }
  #Register-form{
    height: 430px;
    margin: 15px;
  }
  #ald{
    color: black;
    font-size:13px;
  }
  #forgot{
    display: flex;
    width: 92%;
    margin-top: 30px;
    justify-content: space-between;
  }


  /* -----------------------Footer start--------------------- */

  .footer-section {
    display: flex;
    justify-content: left;
    border-top: 1px solid rgb(95, 91, 91);
    /* background-color: rgb(180, 180, 178); */
    margin-bottom: 30px;
    margin-top: 11%;
    padding-top: 0.2rem;
    margin-left: 0%;
    vertical-align: baseline;
    background-color: #f7f7f7;
  }

  #div1{
    padding: 1%;
    /* border: 2px solid red; */
    width: 25%;
  }


  #div2{
    padding: 1%;
    /* border: 2px solid rgb(86, 193, 238); */
    width: 25%;
  }


  #div3{
    padding: 1%;
    /* border: 2px solid rgb(209, 234, 23); */
    width: 25%;
  }

  #div4{
    padding: 1%;
    /* border: 2px solid rgb(41, 2, 9); */
    width: 25%;
  }

  .Sing_up{
    font-size: 1rem;
  }

  .Sing_up2{
    font-size: .6rem;
  }