* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    width: 100%;
    background: #e5e7eb;
    position: relative;
    display: flex;
}
#menu{
    background: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    color: #fff;
   margin-left: 30px;
margin-bottom: -20px;
padding-top: 20px;
}

#menu .items{
    margin-top: 40px;
}
#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}
#menu .items li:hover{
   background: #253047;
   cursor: pointer;
}
#menu .items li:nth-child(1){
    border-left: 4px solid #fff;
}

#menu .items li i{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li:hover i,#menu .items li:hover a{
    color: #f3f4f6;
}

#menu .items li a{
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}
#interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}
.profile{
    display: flex;

}

.profile >div:nth-child(1){
   
   /* border: 1px solid red; */
   /* margin-right: 110px; */
      padding-top: 20px;
      margin-right: -20px;
   

}
#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
    width: calc(100% - 300px);
    height: 130px;
}
#interface .navigation img{
    height: 100px;
    /* border: 1px solid red; */
    margin-left: 40px;
   
    
    
}
#interface .navigation .search input {
    border: none;
    outline: none;
    font-size: 14px;
}
.ni{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#menu-btn{
    display: none;
    color: #2b2b2b;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
}
.values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.values .val-box{
    background: #fff;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
   
    margin-right: 15px;
}
.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}
.values .val-box span{
    font-size: 15px;
    color: #828997;
}
.values .val-box:nth-child(1) i{
    background-color: #7b74ec;
}
.values .val-box:nth-child(2) i{
    background-color: #5c8af0;
}
.values .val-box:nth-child(3) i{
    background-color: #e45d99;
}
.values .val-box:nth-child(4) i{
    background-color: #74daec;
}
.board {
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}
.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.board h5 {
    font-weight: 600;
    font-size: 14px;
}
.board p {
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}
.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
table {
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #eef0f3;
}
thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9fafb;
    text-align: start;
    padding: 15px;
}
tbody tr td {
    padding: 10px 15px;
}

@media (max-width: 769px) {
    #menu{
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }
    #menu.active{
        left: -0px;
    }
    #menu-btn{
        display: initial;
    }
    #interface{
        width: 100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease;
    }
    #menu.active~#interface{
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;
    }
    #interface .navigation{
        width: 100%;
    }
    .values {
        padding: 30px 30px 0 30px;
        margin: auto;
        display: flex;
        
        justify-content: flex-start;
    }
    .values .val-box{
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
        
    }
    .board{
        width: 92%;
        padding: 0;
        overflow-x: auto;
    }
    table{
        width: 100%;
        border-collapse: collapse;
    }
}
@media (max-width: 477px) {
    #interface .navigation{
        padding: 15px;
    }
    #interface .navigation .search input {
       width: 150px;
    }
    .i-name{
        padding: 30px 15px 0 15px;
    }
    .values{
        padding: 15px 15px 0 15px;
    }
    .values .val-box{
        width: 100%;
        margin: 8px 0px ;
    }
    .board{
        margin: 30px 15px 30px 15px;
    }
}