* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}

#container_nav {
  display: flex;
  width: 100%;
  padding-top: 2%;
  /* border: 2px solid rgb(7, 1, 1); */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  box-shadow: rgba(232, 228, 228, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(220, 216, 216, 0.12) 0px 4px 6px, rgba(225, 218, 218, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* #container_nav:hover {
  box-shadow: rgba(232, 228, 228, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(220, 216, 216, 0.12) 0px 4px 6px, rgba(225, 218, 218, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
   background-color: rgb(227, 187, 187); 
} */

.nav-btn {
  display: none;
  color: #0a0000;
  border: 2px solid green;
}

/* #H1font {
  font-family: "Times New Roman", Times, serif;
} */

.logo_div {
  width: 20%;
  margin-left: 2%;
  /* border: 2px solid rgb(242, 9, 9); */
}

#navigation {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid; */
  width: 70%;
  align-items: center;
  list-style-type: none;
}

.flexed {
  display: flex;
  justify-content: center;
  font-size: 25px;
  /* border: 2px solid red; */
}

.Atitle {
  text-decoration: none;
  color: white;
  /* font-family: "Times New Roman", Times, serif; */
}

.Atitle:hover{
  background-color: rgba(240, 232, 232, 0.3);
  padding: 5%;
}

#LOGO {
  border: none;
  /* backface-visibility: visible; */
  background-color: transparent;
  /* font-family: "Times New Roman", Times, serif; */
  width: 70%;
}

.Logo_a {
  text-decoration: none;
  /* font-family: "Times New Roman", Times, serif; */
  color: white;
}

#myVideo {
  /* position: absolute; 
     right: 0; 
    bottom: 0;  */
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.vid_con {
  position: relative;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  font-size: 30px;
  color: #1e1c1c;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.vid_con2 {
  position: relative;
  bottom: 75px;
  background: transparent;
  color: #090909;
  font-size: 30px;
  width: 100%;
  /* padding: 20px; */
  text-align: center;
  /* font: inherit; */
}

.vid_con3 {
  position: relative;
  bottom: 75px;
  background: transparent;
  color: #f6f1f1;
  font-size: 30px;
  width: 100%;
  /* padding: 20px; */
  text-align: center;
  /* font: inherit; */
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
}

.flexed div {
  width: 50%;
  /* margin-bottom: 4px; */
}

/* .flexed img {
  width: 100%;
  height: 100%;
} */

img {
  width: 100%;
  /* margin-bottom: 4px; */
}

.fa_1{
  text-align: center;
  text-transform: uppercase;
}

.fa_1 > h1:hover{
color: #bcb8b8;
}

.footer-section {
  display: flex;
  justify-content: left;
  border-top: 1px solid rgb(95, 91, 91);
  text-align: left;
  /* background-color: rgb(180, 180, 178); */
  /* margin-bottom: 2%; */
  margin-top: 1%;
  padding-top: 0.2rem;
  margin-left: 0%;

  vertical-align: baseline;

  background-color: #e5e0e0;
}

#footer-div1 {
  /* margin-top: 2%; */
  padding: 1%;
  /* border: 2px solid red; */
  width: 25%;
  /* margin-bottom: 5%; */
}

#footer-div2 {
  padding: 1%;
  border-left: 1px solid rgb(95, 91, 91);
  width: 25%;
}

#footer-div3 {
  padding: 1%;
  border-left: 1px solid rgb(95, 91, 91);
  width: 25%;
}

#footer-div4 {
  padding: 1%;
  border-left: 1px solid rgb(95, 91, 91);
  width: 25%;
}

.footer-Sing_up {
  font-size: 1rem;
}

.footer-Sing_up2 {
  font-size: 0.6rem;
}

@media only screen and (max-width: 750px) {
  #navigation {
    display: none;
  }

  #container_nav {
    display: flex;
    width: 100%;
    padding-top: 2%;
    /* border: 2px solid rgb(7, 1, 1); */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .nav-btn {
    display: inline-block;
    text-align: end;
    padding-right: 5%;
    color: #efe6e6;
    border: 2px solid green;
    align-items: end;
  }

  .nav-btn > label {
    display: inline-block;
    /* width: 50px; */
    /* height: 500px; */
    /* padding: 13px; */
  }

  .flexed{
    display: block;
    
  }
  .flexed div{
    width: 100%;
  }

  .footer-section{
    display: block;
  }
  .footer-section > #footer-div1{
    width: 100%;
    text-align: center;
  }
  .footer-section > #footer-div2{
    width: 100%;
    text-align: center;
  }
  .footer-section > #footer-div3{
    width: 100%;
    text-align: center;
  }
  .footer-section > #footer-div4{
    width: 100%;
    text-align: center;
  }

}
