* {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}
.nav {
  /* height: 50px; */

  display: flex;
  justify-content: space-between;

  padding: 2%;
  padding-bottom: 1%;
  /* width: 97%; */
  color: #b90c0c;
  background-color: #504d4d;
  position: relative;
  /* text-align: ; */
}

.nav > .nav-header {
  display: inline;
  /* padding-left: 5%; */
}

.nav-title > a {
  text-decoration: none;
  font-size: 35px;
  color: #f4f0f0;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 35px;
  /* color: #cd1212; */
  /* padding: 10px 10px 10px 10px; */
}

.nav > .nav-btn {
  display: none;
  color: aqua;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
  margin-right: 9%;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  text-align: center;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(240, 232, 232, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 800px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 500px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border: 2px solid #111010;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;

    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*-------------------------------------- Nav end --------------------------------------------------------*/
.container form {
  padding: 20px;
  width: 85%;
  border-radius: 6px;
  margin: auto;
  background: #fff;
  background-color: #f7f7f7;
  font-family: "Courier New", Courier, monospace;
  height: 700px;
  margin-top: 100px;
  padding-top: 30px;
  outline: none;
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  font-family: "Courier New", Courier, monospaceif;
  gap: 15px;
  outline: none;
}

.container form .row .col {
  flex: 1 1 250px;
  outline: none;
}

.container form .row .col .title {
  font-size: 20px;
  color: #333;
  outline: none;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox {
  margin: 15px 0;
  outline: none;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
  outline: none;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  outline: none;
  text-transform: none;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000;
  outline: none;
}

.container form .row .col .flex {
  display: flex;
  outline: none;
  gap: 15px;
}

.container form .row .col .flex .inputBox {
  margin-top: 5px;
  outline: none;
}

.container form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
  outline: none;
}

.payment-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #222121;
  margin-top: 5px;
  cursor: pointer;
  border: none;
}

/* -----------------------Footer start--------------------- */

.footer-section {
  display: flex;
  justify-content: left;
  border-top: 1px solid rgb(95, 91, 91);
  /* background-color: rgb(180, 180, 178); */
  margin-bottom: 30px;
  margin-top: 11%;
  padding-top: 0.2rem;
  font-size: 18px;
  margin-left: 0%;
  height: 260px;
  vertical-align: baseline;
  font-family: "Courier New", Courier, monospace;
  /* border: 2px solid red; */
  /* background-color: #f7f7f7; */
  background-color: #e5e0e0;
}
.footer-section p {
  font-size: 17px;
}
#div1 {
  padding: 1%;
  /* border: 2px solid red; */
  width: 25%;
  font-size: 20px;
  /* border: 2px solid red; */
}

#div2 {
  padding: 1%;
  /* border: 2px solid rgb(86, 193, 238); */
  width: 25%;
  font-size: 20px;
}

#div3 {
  padding: 1%;
  /* border: 2px solid rgb(209, 234, 23); */
  width: 25%;
  font-size: 200px;
}

#div4 {
  padding: 1%;
  /* border: 2px solid rgb(41, 2, 9); */
  width: 25%;
  font-size: 20px;
}

.Sing_up {
  font-size: 1rem;
}

.Sing_up2 {
  font-size: 0.6rem;
}
