*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.nav {
    /* height: 50px; */
    
    padding: 2%;
    padding-bottom: 1%;
    /* width: 97%; */
    color: #e1dddd;
    background-color: #504d4d;
    position: relative;
    /* text-align: ; */
  }
  
  .nav > .nav-header {
    display: inline;
    padding-left: 5%;
  }

  .nav-title > a {
    text-decoration: none;
    font-size: 35px;
    color: #f4f0f0;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 35px;
    /* color: #cd1212; */
    /* padding: 10px 10px 10px 10px; */
  }

  
  .nav > .nav-btn {
    display: none;
    color: aqua;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 20px;
    margin-right: 9%;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    text-align: center;
    color: #efefef;
    
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(240, 232, 232, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:800px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 500px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #b90c0c;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }



  






#title{
    /* border: 1px solid red; */
    text-align: center;
    height: 150px;
}
#title h3{
    margin-top:30px;
}
#main{
    width: 100%;
    /* border: 1px solid rgb(47, 0, 255); */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
    margin-top: 5px;
    max-height: 200vh;
    overflow-y: scroll;
}
#main::-webkit-scrollbar{
  display: none;
}
.card img{
    width: 100%;
}
.card h4{
    text-align: center;
    margin-top:15px;
    margin-bottom: 15px;
}

.pricediv h5{
    margin-left: 28px;

}
#filterdiv{
    width: 98%;
    margin: auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
    height: 40px;
    display: flex;
    padding-bottom: 10px;
    padding-top: 5px;
    
}
#sortandfilter{
     display: flex;
     /* justify-content: space-between; */
     /* border: 1px solid blue; */
     width: 50%;
}
.sort{
    width: 11%;
    margin-left: 10px;
    font-weight: bold;
    display: flex;
    margin-top: 10px;
    
}
.rating{
  /* width: 13%; */
  margin-left: 30px;
  font-weight: bold;
  display: flex;
  margin-top: 12px;
}
#sort p{
    padding-top: 3px;
}
#sortdiv{
    /* border: 1px solid; */
    display: block;
    margin-right: 80px;
    
}
#sort p:hover{
    font-size: 16.5px;
    color:#b90c0c;
}
.filter{
   display: flex;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 10px;
}
#filter p{
    padding-top: 3px;
}
.downSymbol {
    /* border: 1px solid; */
    margin-right: 5px;
    
}
#lowtohigh{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: 15px;
    color: rgb(68, 67, 67);
    border-bottom: 1px solid;
    width:80%;
    /* border: 1px solid; */
}
#lowtohigh:hover{
    color:black;
    font-size: 16px;
}
#hightolow{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: 15px;
    color: rgb(68, 67, 67);
    border-bottom: 1px solid;
    width: 80%;
}
#hightolow:hover{
    color:black;
    font-size: 16px;
}
#default{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: 15px;
    color: rgb(68, 67, 67);
    border-bottom: 1px solid;
    width: 80%;
}
#default:hover{
    color:black;
    font-size: 16px;
}
.ratingtext{
  margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: 15px;
    color: rgb(68, 67, 67);
    border-bottom: 1px solid;
    width: 80%;
}
.rotate180 {
    transform : rotate(180deg);
    color: rgb(151, 101, 226);
    font-size: 30px;
  }
.colorchange{
    color: #b90c0c;
 }
#tagfilterdiv{
    /* border: 1px solid; */
    display: block;
    width: 200px;
    margin-left: 20px;
    
   
   
}
#filter p:hover{
    font-size: 16.5px;
    color: #b90c0c;
}
#trendingproduct{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: 15px;
    color: rgb(68, 67, 67);
    border-bottom: 1px solid;
    width: 65%;
}
#trendingproduct:hover{
    color:black;
    font-size: 16px;
}

#filterdefault{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: 15px;
    color: rgb(68, 67, 67);
    border-bottom: 1px solid;
    width: 65%;
}
#filterdefault:hover{
    color:black;
    font-size: 16px;
}
#newproduct{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: 15px;
    color: rgb(68, 67, 67);
    border-bottom: 1px solid;
    width: 65%;
}
#newproduct:hover{
    color:black;
    font-size: 16px;
}
#mobile{
    /* border: 1px solid; */
    width: 30px;
    height:30px;
    padding-top: 5px;
    display: none;
}
.hamburger{
    width: 100%;
    border: 3px solid rgb(242, 183, 106);
    border-radius: 6px;
    margin-bottom: 4px;
}
#mobilediv{
    /* border: 1px solid; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 800%;
    height: 540px;
    position: relative;
    background-color: rgb(248, 252, 255);
    z-index: 1;
    border-radius: 5px;

}

.pricediv{
  display: flex;
  justify-content: space-between;
}
.pricediv h6{
  font-size: 13px;
  margin-right: 10px;
}

@media screen and (min-width:475px) and (max-width:820px){
    #sort{
        width: 19%;
        margin-left: 10px;
        font-weight: bold;
        display: flex;
        margin-top: 10px;
    }
    .card h4{
        text-align: center;
        margin-bottom: 15px;
        margin-top:15px;
        font-size: 10px;
    }
    .pricediv h5{
        margin-left: 15px;
        font-size: 10px;
    
    }
}
@media screen and (max-width:475px) {
    #main{
        width: 100%;
        /* border: 1px solid rgb(47, 0, 255); */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2px;
        margin-top: 5px;
    }
    .card h4{
        text-align: center;
        margin-bottom: 15px;
        margin-top:15px;
        font-size: 10px;
    }
    #title p{
        font-size: 13px;
    }
    #title{
        /* border: 1px solid red; */
        text-align: center;
        height: 100px;
    }
    #filterdiv{
        display:none;
    } #mobile{
        display: block;
    }
    #mobilesort{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        height: 20px;
    }
    #mobilesortone h4{
        margin-top: 10px;
        color: rgb(106, 105, 105);
    }
    #mobilesortone h4:hover{
        background-color: rgb(173, 176, 177);
    }
    #mobilefilter{
      margin-top: 80px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      height: 20px;

    }
    #mobilefilterone h4:hover{
        background-color: rgb(173, 176, 177);
    }
    #mobilefilterone h4{
        margin-top: 10px;
        color: rgb(106, 105, 105);
    }
}


.footer-section {
    display: flex;
    justify-content: left;
    border-top: 1px solid rgb(95, 91, 91);
    text-align: left;
    /* background-color: rgb(180, 180, 178); */
    margin-bottom: 0px;
    margin-top: 1%;
    padding-top: 0.2rem;
    margin-left: 0%;
    vertical-align: baseline;
  }

  #footer-div1{
    padding: 1%;
    /* border: 2px solid red; */
    width: 25%;
  }


  #footer-div2{
    padding: 1%;
    border-left: 1px solid rgb(95, 91, 91);
    /* border: 2px solid rgb(86, 193, 238); */
    width: 25%;
  }


  #footer-div3{
    padding: 1%;
    border-left: 1px solid rgb(95, 91, 91);
    /* border: 2px solid rgb(209, 234, 23); */
    width: 25%;
  }

  #footer-div4{
    padding: 1%;
    border-left: 1px solid rgb(95, 91, 91);
    /* border: 2px solid rgb(41, 2, 9); */
    width: 25%;
  }

  .footer-Sing_up{
    font-size: 1rem;
  }

  .footer-Sing_up2{
    font-size: .6rem;
  }

