*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}
#title{
    /* border: 1px solid; */
    width: 100%;
    height: 100px;
    text-align: center;
}
#title h4{
    margin-top: 50px;
    font-size: 30px;
}
#category{
    display: flex;
    width: 100%;
    height: 500px;
    /* border: 1px solid; */
    justify-content: space-around;
    background-color:#F5F5F5

}
.category_child{
     width: 33.1%;
    /* border: 1px solid;  */
}
.category_child img{
    width: 90%;
    display: flex;
    margin: auto;
}
.category_child h4{
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}
#trending{
    height: 110px;
    /* margin-top: 100px; */
    width: 100%;
    text-align: center;
}
#trending h4{
    margin-top: 50px;
    font-size: 30px;
    padding-top: 40px;
}
#trendProduct{
    height: 350px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width:100%;
    
}

.productDiv{
    /* border: 2px solid; */
    min-width: 350px;
    height: 350px;
}
#trendProduct::-webkit-scrollbar{
    display: none;
}
.productDiv img{
    width: 100%;
}

