#Login_image{
    width: 100%;
}
#Login_image img{
    width: 100%;
}
.page{
    font: 35px/40px 'Apercu Bold',Helvetica,Arial,Sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: normal;
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.938);
    text-align: center;
    transform: translateY(-40%);
    font-weight: 540;
}